<div class="banner"></div>
<div class="container-fluid  form-container" >
    <div class="row justify-content-center">
      <div class="col-md-6 " style="margin-top: 60px; margin-bottom: 100px;">
        <h1 class="text-center form-text-title"><b>¡ENTRADA   GRATIS!</b></h1>
        <h4 class="text-center mt-3 form-text-subtitle ">REGISTRATE AQUI</h4>
        <form (ngSubmit)="submitForm()">
            <div class="mt-5 mb-5">
              <input type="text" class="form-control sharp-corners" [(ngModel)]="nombre" name="nombre" placeholder="NOMBRE(S)*">
            </div>
            <div class="mt-5 mb-5">
              <input type="text" class="form-control sharp-corners" [(ngModel)]="apellido" name="apellido" placeholder="APELLIDO*">
            </div>
            <div class="mt-5 mb-5">
                <input type="number" class="form-control sharp-corners" [(ngModel)]="telefono" name="telefono" placeholder="TELÉFONO*">
                <small class="text-white ubicacion">Solo números</small>
              </div>
            <div class="mt-5 mb-5">
              <input type="text" class="form-control sharp-corners" [(ngModel)]="email" name="email" placeholder="EMAIL*">
            </div>
            <div class="mt-5 d-flex justify-content-center">
              <button type="submit" class="btn btn-warning sharp-corners-button">REGISTRARSE</button>
            </div>
          </form>
          
      </div>
    </div>
  </div>
<div class="banner2"></div>

<div class="container-fluid mt-5 mb-5 video-container" style=" padding-right: 150px !important; padding-left: 150px !important; ">
    <div class="row " >
        <div class="col-md-2">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/LCgB8hzMWeo" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-2">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/GfB0lZrEr18" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-2">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/gAyqsHt5HcI" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-2">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/xE4xz0FROZU" frameborder="0" allowfullscreen></iframe>
        </div>
        
        
        <div class="col-md-2">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/t37Uk9Kz7mY" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-2">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/SkK0rHzdivU" frameborder="0" allowfullscreen></iframe>
        </div>
<!-- Second row -->
        <div class="col-md-2 mt-5">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/Xir7W4WGnvk" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-2 mt-5">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/H9Jp40HNP4E" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-2 mt-5">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/aFp9UACqkK4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-2 mt-5">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/a3sWA_7e7T4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-2 mt-5">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/wCuoiL3gcuc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-2 mt-5">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/ZPgRiSsnT_E" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <!-- Repite el mismo patrón para los otros 4 videos -->
</div>



<div class="container-fluid" style="background-color: #003595;">
    <div class="row">
        <div class="col-12">
            <h1 class="text-white text-center quienes-nos-acompanan">ORGANIZADOR OFICIAL</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="text-center" style="margin-top:100px; margin-bottom: 100px;">
            <img src="assets/afdaut.png" alt="Imagen 5" class="img-thumbnail custom-image">
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color: #003595;">
    <div class="row">
        <div class="col-12">
            <h1 class="text-white text-center quienes-nos-acompanan">QUIENES NOS ACOMPAÑAN</h1>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <!-- Primera fila -->
    <div class="row justify-content-center">
        <div class=" col-xl-4 offset-xl-1 col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mt-5">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="https://refranautoslaredo.com.mx/" target="_blank">
                            <img src="assets/refran2.png" class="img-fluid" alt="Imagen Grande">

                        </a>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-3 text-center mt-5 mt-xl-0 mt-lg-0 mt-md-0">
                        <a target="_blank" href="https://www.chrysler.com/mx/"> <img src="assets/crysler.png" class="img-fluid"
                                alt="Imagen Pequeña 1" width="90">
                        </a>
                    </div>
                    <div class="col-md-3 text-center  mt-5 mt-xl-0 mt-lg-0 mt-md-0">
                        <a target="_blank"  href="https://www.dodge.com/mx/"> <img src="assets/dodge.png" class="img-fluid"
                                alt="Imagen Pequeña 2" width="90">
                        </a>
                    </div>
                    <div class="col-md-2 text-center  mt-5 mt-xl-0 mt-lg-0 mt-md-0">
                        <a  target="_blank"  href="https://www.fiat.com.mx/">
                            <img src="assets/fiat.png" class="img-fluid" alt="Imagen Pequeña 3" width="50">

                        </a>
                    </div>
                    <div class="col-md-2 text-center  mt-5 mt-xl-0 mt-lg-0 mt-md-0">
                        <a target="_blank"  href="https://www.ram.com/mx/"> <img src="assets/ram.png" class="img-fluid"
                                alt="Imagen Pequeña 4" width="50">
                        </a>
                    </div>
                    <div class="col-md-2 text-center  mt-5 mt-xl-0 mt-lg-0 mt-md-0">
                        <a target="_blank"  href="https://www.jeep.com.mx/"> <img src="assets/jeep.png" class="img-fluid"
                                alt="Imagen Pequeña 4" width="70">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class=" col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
            <img src="assets/refran.png" alt="Imagen 1" class="img-thumbnail custom-image img-responsive">
        </div>
        -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-flex justify-content-center mb-4 mt-5">
            <div class="container justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <a target="_blank" href="https://www.motornation.com.mx/">
                            <img src="assets/motorlogo.png" class="img-fluid" alt="Imagen Grande">

                        </a>
                    </div>
                </div>
                <div class="row mt-sm-3 mt-xs-3 justify-content-center">
                    <div class="col-md-2 col-sm-4 text-center  mt-5 mt-xl-0 mt-lg-0 mt-md-0">
                        <a target="_blank"  href="https://www.motornation.com.mx/acerca-de-baic"> <img src="assets/baic.png"
                                class="img-fluid" alt="Imagen Pequeña 1" width="90">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 text-center  mt-5 mt-xl-0 mt-lg-0 mt-md-0">
                        <a target="_blank"  href="https://www.motornation.com.mx/acerca-de-changan"> <img src="assets/changanauto.png"
                                class="img-fluid" alt="Imagen Pequeña 2" width="200">
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 text-center mt-5 mt-xl-0 mt-lg-0 mt-md-0">
                        <a target="_blank"  href="https://www.motornation.com.mx/acerca-de-jmc"> <img src="assets/jmc.png"
                                class="img-fluid" alt="Imagen Pequeña 3" width="50">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4  col-lg-6  col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mt-5">
            <a href="https://kia.com/mx" target="_blank"><img src="assets/kia.png" alt="Imagen 4"
                    class="img-thumbnail custom-image"></a>
        </div>
        <div class=" col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mt-5">
            <a href="https://www.chevroletlaredo.com.mx/" target="_blank"><img src="assets/chevrolet.png" alt="Imagen 2"
                    class="img-thumbnail custom-image"></a>
        </div>


        <!-- Segunda fila -->


        <div class="col-xl-4  col-lg-6 col-md-12 col-sm-12  col-xs-12 d-flex justify-content-center mt-5">
            <a href="https://www.nissanlaredo.com.mx/" target="_blank"><img src="assets/nissan.png" alt="Imagen 6"
                    class="img-thumbnail custom-image"></a>
        </div>

        <!-- Tercera fila -->
        <div class="col-xl-4  col-lg-6 col-md-12 col-sm-12  col-xs-12 d-flex justify-content-center mt-5">
            <a href="https://www.honda.mx/" target="_blank"><img src="assets/honda.png" alt="Imagen 7"
                    class="img-thumbnail custom-image"></a>
        </div>
        <div class="col-xl-4  col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mt-5">
            <a href="https://www.fordlaredomotors.mx/" target="_blank"><img src="assets/logo-fvh.jpg" alt="Imagen 8"
                    class="img-thumbnail custom-image"></a>
        </div>
        <div class="col-xl-4  col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mt-5">
            <a href="https://www.mgmotor.com.mx/mg-laredo" target="_blank"><img src="assets/mglaredo.png" alt="Imagen 9"
                    class="img-thumbnail custom-image"></a>
        </div>
    </div>




</div>

<!-- Contenedor 3 -->
<div class="container-fluid top-margin mb-5" id="contacto">
    <div class="row">
        <div class="col-md-10 col-sm-12 col-xs-12 offset-xl-1 col-sm-12 order-md-2 order-1">
            <h1 class="mt-md-5 contact-text text-center ubicacion"><b>FECHA</b></h1>
            <div class="row mt-5">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">            <h3 class="text-center ubicacion">Sábado 24 de Septiembre: <br> 9:00 am - 9:00 pm</h3>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">                <h3 class="text-center ubicacion">Domingo 25 de Septiembre: <br> 9:00 am - 6:00 pm</h3>
                </div>
            </div>
              <h1 class="mt-md-5 contact-text text-center ubicacion"><b>UBICACIÓN</b></h1>

            <div class="container mt-4">
                
                <h3 class="direction-text text-center ubicacion">Cueva Leonistica, Av Reforma 4608, Nuevo Laredo, Mexico</h3>
            </div>

            <div class="container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.378882217772!2d-99.51768392383143!3d27.457461536467218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866122f62dec2d69%3A0xcf8f21fd846988ee!2sCueva%20Leon%C3%ADstica%20Nuevo%20Laredo!5e0!3m2!1ses-419!2smx!4v1694202273179!5m2!1ses-419!2smx"
                    height="200" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" style="width: 100%; height: 600px;"></iframe>
            </div>
           
        </div>
    </div>
</div>